.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  height: 60px;
}

.button {
  padding-top: 10px;
  font-weight: bold;
  color: #D6D7DB;
  padding: 0;
  align-self: center;
  cursor: pointer;
}