.top-half {
  padding: 47px;
}

.next-button {
  position: absolute;
  right: 150px;
  bottom: 100px;
}

.check-in-time-title {
  padding-bottom: 18px;
}

.next-svg {
  height: 80px;
  width: 80px;
  align-self: flex-end;
}

input[type="number"] {
  padding: 5px;
  border: 2px solid #D9D9D9;
  /* Set the default border color */
  border-radius: 5px;
  background-color: none;
  color: #333;
  font-size: 16px;
  width: 15%;
  margin-bottom: 10px;
  margin-right: 8px;
}

/* CSS for styling the input field when it's focused (clicked) */
input[type="number"]:focus {
  border: 2px solid #D9D9D9;
  /* Override the border color on focus to the same color */
}


.duration {
  color: #838792;
  font-weight: 400;
  font-size: 16px;
}